.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__picture-data {
    margin-top: 40px;
  }
}

.filters-tab {
  &__header {
    display: flex;
    &_item:not(:first-child) {
      margin-left: 20px;
    }
  }
  &__filtred-list {
    margin-top: 20px;
  }
}

.download-dialog {
  width: 30em;
  display: flex;
  flex-direction: column;
  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    &_item:not(:last-child) {
      margin-right: 20px;
    }
  }
}