<div class="main-form">
  <p-autoComplete [dropdown]="true" [style]="{'width': '100%'}"></p-autoComplete>
  <div class="main-form__information">
    <p-skeleton width="30em" height="20em" borderRadius="5em"></p-skeleton>
    <div class="main-form__information_desc">
      <p-skeleton width="20em" height="2em" borderRadius="5em"></p-skeleton>
      <p-skeleton width="25em" height="2em" borderRadius="5em"></p-skeleton>
      <p-skeleton width="10em" height="2em" borderRadius="5em"></p-skeleton>
      <p-skeleton width="20em" height="2em" borderRadius="5em"></p-skeleton>
    </div>
  </div>
</div>
