<p-tabView (onChange)="onTabChange($event)">
  <p-tabPanel header="Поиск">
    <div class="main-form">
      <p-autoComplete [(ngModel)]="selectedPicture"
                      [dropdown]="true" 
                      [style]="{'width': '100%'}"
                      [delay]="500"
                      [suggestions]="picturesSuggestions"
                      [field]="'pictureName'"
                      [emptyMessage]="'Ничего не найдено!'"
                      [showEmptyMessage]="true"
                      [placeholder]="'Введите название картины'"
                      (onSelect)="onPictureSelected($event)"
                      (completeMethod)="onPictureNameSubmit($event)">
        <ng-template let-item pTemplate="item">
          {{item.pictureName}} ({{item.picturesAuthor?.lastName}})
        </ng-template>
      </p-autoComplete>
      <app-picture-info class="main-form__picture-data" [pictureData]="pictureData"></app-picture-info>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Фильтры">
    <div class="filters-tab">
      <div class="filters-tab__header">
        <p-dropdown class="filters-tab__header_item" 
                    [(ngModel)]="selectedAuthor"
                    [placeholder]="'Авторы'"
                    [style]="{'width': '15em'}"
                    [options]="authorsList"
                    (onChange)="onFilterSelect()">
          <ng-template pTemplate="selectedItem">
            <span>{{selectedAuthor.firstName}} {{selectedAuthor.lastName}}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <span>{{item.firstName}} {{item.lastName}}</span>
          </ng-template>
        </p-dropdown>
        <p-dropdown class="filters-tab__header_item" 
                    [(ngModel)]="selectedStorage"
                    [placeholder]="'Музеи'"
                    [style]="{'width': '15em'}"
                    [options]="storagesList"
                    (onChange)="onFilterSelect()">
          <ng-template pTemplate="selectedItem">
            <span>{{selectedStorage.name}}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <span>{{item.name}}</span>
          </ng-template>
        </p-dropdown>
        <button pButton 
                class="filters-tab__header_item" 
                [label]="'Очистить фильтры'"
                icon="pi pi-times"
                [disabled]="!selectedAuthor && !selectedStorage"
                (click)="clearFilters()">
        </button>
        <button pButton 
                class="filters-tab__header_item p-button-success" 
                [label]="'Выгрузить в текстовый файл'"
                icon="pi pi-download"
                [disabled]="!selectedAuthor && !selectedStorage && !picturesList"
                (click)="isFileDownloadDialogOpened = !isFileDownloadDialogOpened">
        </button>
      </div>
      <div *ngIf="picturesList" class="filters-tab__filtred-list">
        <app-picture-table [picturesList]="picturesList"></app-picture-table>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<p-dialog header="Загрузка файла" 
          [(visible)]="isFileDownloadDialogOpened"
          (onHide)="onDialogHide()">
  <div class="download-dialog">
    <span>Имя файла:</span>
    <input type="text" pInputText [(ngModel)]="fileName"/>
    <div class="download-dialog__footer">
      <button pButton
              class="download-dialog__footer_item"
              [label]="'Отмена'"
              (click)="isFileDownloadDialogOpened = !isFileDownloadDialogOpened">
      </button>
      <button pButton
              class="download-dialog__footer_item p-button-success"
              [disabled]="!fileName"
              [label]="'Скачать'"
              (click)="downloadFile()">
      </button>
    </div>
  </div>
</p-dialog>
